{% extends 'base.html' %} {% load static %} {% block content %}

<body>



    <!--======================================== 

           Preloader

    ========================================-->

    <div class="page-preloader">

        <div class="spinner">

            <div class="rect1"></div>

            <div class="rect2"></div>

            <div class="rect3"></div>

            <div class="rect4"></div>

            <div class="rect5"></div>

        </div>

    </div>

    <!--======================================== 

           Header

    ========================================-->



    <!--//** Navigation**//-->

    <nav class="navbar navbar-default navbar-fixed white no-background bootsnav navbar-scrollspy" data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">



        <div class="container">

            <!-- Start Header Navigation -->

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">

                    <i class="fa fa-bars"></i>

                </button>

                <a class="navbar-brand" href="#brand">

                    <h3 class="logo" alt="logo" style="color: #44c5ee;">HR Managment System</h3>

                </a>

            </div>

            <!-- End Header Navigation -->



            <!-- Collect the nav links, forms, and other content for toggling -->

            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active scroll"><a href="#home">Home</a></li>

                    <li class="scroll"><a href="#about">About Page</a></li>

                    <li class="button-holder">

                        <button type="button" class="btn btn-blue navbar-btn" data-toggle="modal" data-target="#SignIn">Sign in</button>

                    </li>

                </ul>

            </div>

            <!-- /.navbar-collapse -->

        </div>

    </nav>



    <!--//** Banner**//-->

    <section id="home">

        <div class="container">

            <div class="row">

                <!-- Introduction -->

                <div class="col-md-6 caption">

                    <h1>Welcome To HR Managment System</h1>

                </div>

                <!-- Sign Up -->

                <div class="col-md-5 col-md-offset-1">

                    <form class="signup-form" method="POST">
                        
                     <h2 class="text-center">Registration for Employee</h2>
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Full Name" required="required" name="name">
                        </div>
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Employee ID" required="required" name="employee_id">
                        </div>
                    
                        <div class="form-group">
                            <select class="form-control" style="height: 39px;" name="gender" required>
                                <option value="">Select Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Date of Birth (dd/mm/yyyy)" required="required" name="dob">
                        </div>
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Designation" required="required" name="designation">
                        </div>
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Department" required="required" name="department">
                        </div>
                    
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Appointment Date (dd/mm/yyyy)" required="required" name="appointment_date">
                        </div>
                    
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-blue btn-block">Start Now</button>
                        </div>
                    
                    </form>
                    

                </div>

            </div>

        </div>

    </section>



    <!--======================================== 

           About Us

    ========================================-->



    <section id="about" class="section-padding">

        <div class="container">

            <h2>About Project</h2>

            <p>About My Project</p>

            <div class="row">

                <div class="col-md-4">

                    <div class="icon-box">

                        <i class="material-icons">favorite</i>

                        <h4>Frontend</h4>

                        <p> For the frontend, I have utilized HTML and CSS to enhance the user interface, creating a visually appealing and professional look for the home page. The design incorporates a corporate color scheme to maintain a cohesive branding experience.
                            On the home page, users are provided with the option to register by filling out a registration form. The form includes fields such as Name, Employee ID, Gender  DOB, Designation,
                            Department and Appointment Date
                           
                    </div>

                </div>

                <div class="col-md-4">

                    <div class="icon-box">

                        <i class="material-icons">flash_on</i>

                        <h4>Backend</h4>

                        <p>The backend project, on the other hand, handles the logic and functionality of the application. It includes server-side code written in Python using Django, a popular web framework. The backend project manages tasks like data storage,logic, authentication, and authorization.</p>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="icon-box">

                        <i class="material-icons">settings</i>

                        <h4>API</h4>

                        <p>With the API in place, the frontend can make HTTP requests, such POST to interact with the backend. For example, the frontend can send a post request to store data from the backend, or a POST request to send new data for storage.</p>

                    </div>

                </div>

            </div>

        </div>

    </section>


    {% endblock %}



